.first {
    font-size: 12px;
    background-color: firebrick;
    color: white;
  }
  .second {
    text-align: center;
    color: tomato;
    background-color: whitesmoke;
    font-size: 40px;
  }
  .third {
    text-align: right;
    color: whitesmoke;
    background-color: darkcyan;
  }